@{ Layout = null; /* Overrides the Layout set for regular page views. */ }


To: @ViewBag.To
From: ssetechnicalorderingsystem@gmail.com
Subject: @ViewBag.ProjectName Project Registered 

<p>Hello</p>

<p>The Student @ViewBag.StudentFirstName  @ViewBag.StudentLastName has registered your email to project @ViewBag.ProjectName,
Please register to view project details and to approve/reject orders if you already haven't done so. </p>

Regards

SSE