@model IEnumerable<TechnicalSupportSystemV2.Models.UserProfile>

@{
    ViewBag.Title = "ReactivateAccount";
}

<h2>Reactivate Account</h2>

@using (Html.BeginForm())
{
    <p>
        Enter Username: @Html.TextBox("searchString") <br />
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Account Requested
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.UserType)
        </td>
        <td>
            @using (Html.BeginForm("EnableAccount", "Admin", new { Id = item.UserId }, FormMethod.Post))
            {
                <input class="btn btn-default btn-xs" type="submit" value="Reactivate" />
            }
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back To Home", "Index")
</div>