@model TechnicalSupportSystemV2.ViewModels.OrdersDisplayView

@{
    ViewBag.Title = "ViewOrderedOrders";
}

<h2>Orders which are ordered on Onecall</h2>

<table class="table">
    <tr>
        <th>
            Local Purchase Number
        </th>
         <th>
             Vendor Order Number
        </th>
        <th>
            Vendor Name
        </th>
        <th>
            Student Full Name
        </th>
        <th>
            Order Total (£)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Orders) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem=>item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorOrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.VendorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotal)
        </td>
        <td>
            @Html.ActionLink("Component Details", "ViewComponentDetails", new { id=item.OrderID })
        </td>

    </tr>
}
</table>

<p>Total Cost of All Orders is @Model.GrandTotal </p>

<div>
    @Html.ActionLink("Back To Home", "Index")
</div>