@model IEnumerable<TechnicalSupportSystem.Models.Project>

@{
    ViewBag.Title = "ProjectsNotRegisteredBySupervisors";
}

<h2>Projects Not Registered By Supervisors</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>Supervisor Email</th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.Supervisor.UserProfile.Email)
        </td>
        <td>
            @Html.ActionLink("Correct Email", "CorrectSupervisorEmail", new { id=item.Supervisor.UserProfile.UserId }) 
        </td>
    </tr>
}

</table>
