@model IEnumerable<TechnicalSupportSystem.Models.Order>

@{
    ViewBag.Title = "ViewNotCollectedOrders";
}

<h2>Update Order as collected / Notify Student Again</h2> <br />


 @using (Html.BeginForm()){   
         <p> Vendor Order Number: @Html.TextBox("searchString") <input type="submit" value="Filter" /> </p>
  } 

<table class="table">
    <tr>
        <th>
            Vendor Order Number
        </th>
        <th>
            Vendor Name
        </th>
        <th>
            Student Full Name
        </th>
        <th>
            Order Total (£)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.VendorOrderNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.VendorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.FirstName) @Html.DisplayFor(modelItem => item.Student.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderTotal)
        </td>
        <td>
            @Html.ActionLink("Component Details", "ViewComponentDetails", new { id=item.OrderID })
        </td>

        <td>
            @using (Html.BeginForm("UpdateOrderAsCollected", "Technician", new { Id = item.OrderID }, FormMethod.Post))
            {       
         <input class="btn btn-default btn-xs"type="submit" value="Collected" />
           }
        </td>

        <td>
            @using (Html.BeginForm("ViewNotNotifiedOrderedOrders", "Technician", new { Id = item.OrderID }, FormMethod.Post))
            {
                <input class="btn btn-default btn-xs" type="submit" value="Notify Again" />
            }
        </td>


    </tr>
}
</table>

<div>
    @Html.ActionLink("Back To Home", "Index")
</div>

